<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="hmh_review_auto_approval">
            <group id="verified_purchased" translate="label comment" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Auto Approval by Verified Purchase</label>
                <comment>Auto approve reviews when the reviewer has purchased the reviewed product.</comment>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable verified purchase validation.</comment>
                    <depends>
                        <field id="general/enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
